[Unit]
Description=Aquarium light control system
After=syslog.target network.target

[Service]
ExecStart=/home/pi/aquarium/app.py
WorkingDirectory=/home/pi/aquarium
Restart=always

[Install]
WantedBy=multi-user.target
